{% load static %}

<div class="banner">
  <img src="{% static 'images/job-vermeulen-1uGA4uP_c2E-unsplash.jpg' %}" alt="" class="banner__image">
  <div class="banner__content">
    <h2 class="banner__header">We hebben uw steun nodig!</h2>
    <p>
      Wij willen onze symposia gratis beschikbaar blijven stellen voor iedereen die geïnteresseerd is. Toch zijn er kosten die we moeten dekken, zoals een vergoeding voor de sprekers en verdere onkosten. Als u het Colloquium Levensfilosofie een warm hart toedraagt en de financiële ruimte heeft, verzoeken wij u van harte een bijdrage te leveren, zodat wij onze symposia kunnen blijven organiseren. Geld overmaken kan naar het volgende rekeningnummer:
    </p>
    <p>
      <strong>NL15 ABNA 0128 3857 07</strong> t.n.v. <strong>André van Delft</strong> (penningmeester).
    </p>
    <p>
      Hartelijk dank!
    </p>
    <p class="banner__img-attribution">
      Foto: <a href="https://unsplash.com/@job_vermeulen?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Job Vermeulen</a> op <a href="https://unsplash.com/photos/a-large-brick-building-with-many-windows-next-to-a-river-1uGA4uP_c2E?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a>
    </p>
  </div>
</div>