{% extends "site_base.html" %}

{% block pre_body %}
<div class="landing" id="landing">
  <div class="container">
    <div class="landing-header">
      <div class="landing-header-1 load-hidden">Colloquium</div>
      <div class="landing-header-2 load-hidden">Levensfilosofie</div>
    </div>
    <div class="landing-orn load-hidden"><span class="orn leaf"></span></div>
  </div>
  <div class="chevron-down-container">
    <svg aria-hidden="true" focusable="false" class="chevron-down" data-prefix="fas" data-icon="chevron-down" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="currentColor" d="M207.029 381.476L12.686 187.132c-9.373-9.373-9.373-24.569 0-33.941l22.667-22.667c9.357-9.357 24.522-9.375 33.901-.04L224 284.505l154.745-154.021c9.379-9.335 24.544-9.317 33.901.04l22.667 22.667c9.373 9.373 9.373 24.569 0 33.941L240.971 381.476c-9.373 9.372-24.569 9.372-33.942 0z"></path></svg>
  </div>
</div>
{% endblock %}

{% block body %}
{% if upcoming_symposium %}
  {% include 'annonces/_symposium_preview.html' with symposium=upcoming_symposium include_separators=True only %}
{% endif %}

<p class="intro">
  Wat leert de filosofie van Levinas ons over vriendschap? Hoe verbindt Kierkegaard de angstaanjagende ervaring van leegte met de mogelijkheid van ware vrijheid? …
</p>
<p>
  Het doel van het Colloquium Levensfilosofie is om, verspreid over het academische jaar, vijf extra-curriculaire minisymposia te organiseren over verschillende filosofisch en maatschappelijk relevante thema’s. Daarbij staat de dialoog over de ethische, existentiële en spirituele aspecten van deze thema’s voorop.<br>
  Het Colloquium Levensfilosofie is tevens bedoeld als brug tussen de academische filosofie en de samenleving. Het is een laagdrempelig platform voor studenten, docenten en belangstellenden van buiten de universiteit.<br>
  De bijeenkomsten zijn gratis toegankelijk en vinden op vrijdagmiddagen plaats in een van de zalen van de Universiteit Leiden. In de regel zijn er twee of drie sprekers en een dagvoorzitter.<br>
  De aankondigingen van de mini-symposia worden vermeld op deze website. U kunt de aankondigingen ook per e-mail ontvangen; <a href="mailto:info@levensfilosofie.nu?subject=Aanmelden nieuwsbrief">meld u aan voor de nieuwsbrief</a>.
</p>
<p>
  Het Colloquium Levensfilosofie is opgericht in 2002. Het is voortgekomen uit een initiatief van dr. Gerard Visser die van 1985 tot 2015 medewerker cultuurfilosofie was aan het Instituut voor Wijsbegeerte van Universiteit Leiden. Het Colloquium Levensfilosofie bestaat thans uit:
</p>
<p>
  Ivo Bles MA (filosoof)<br>
  André van Delft MA, MSc (filosoof en natuurkundige)<br>
  Prof. em. dr. Hans Gerding (UL – filosoof)<br>
  Kirsten Kalkman MA (filosoof)<br>
  Dr. Rozemund Uljée (UL – filosoof)<br>
  Prof. em. dr. Renée van Riessen (UL &amp; PThU – filosoof)<br>
  Dr. Gerard Visser (UL – filosoof)<br>
  Drs. Barbara Zwaan MA (geestelijk verzorger)<br>
</p>
{% endblock %}

{% block scripts %}
<script>
  ScrollReveal().reveal('.landing-header-1', {
    distance: '150%',
    origin: 'left',
    opacity: 0,
    duration: 2000
  });
  ScrollReveal().reveal('.landing-header-2', {
    delay: 200,
    distance: '200%',
    origin: 'right',
    opacity: 0,
    duration: 2000
  });
  ScrollReveal().reveal('.landing-orn', {
    delay: 1200,
    rotate: {
      x: -280,
      y: 180
    },
    scale: 0.2
  });


  window.onscroll = function() {myFunction()};

  var logo = document.getElementById("logo");

  var treshold = 550;

  function myFunction() {
    if (window.pageYOffset >= treshold) {
      logo.classList.remove("hide")
    } else {
      logo.classList.add("hide");
    }
  }
</script>
{% endblock %}
