<!DOCTYPE html>
<html lang="en" dir="ltr">
  {% load static %}
  <head>
    <meta charset="utf-8">
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0'>
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'favicon/site.webmanifest' %}">
    <link rel="mask-icon" href="{% static 'favicon/safari-pinned-tab.svg' %}" color="#214478">
    <link rel="shortcut icon" href="{% static 'favicon/favicon.ico' %}">
    <meta name="apple-mobile-web-app-title" content="Colloquium Levensfilosofie">
    <meta name="application-name" content="Colloquium Levensfilosofie">
    <meta name="msapplication-TileColor" content="#214478">
    <meta name="msapplication-config" content="{% static 'favicon/browserconfig.xml' %}">
    <meta name="theme-color" content="#ffffff">
    <title>{% block title %}Colloquium Levensfilosofie{% endblock %}</title>
  </head>

  <body>

    <nav class="navbar {% if expand_header %}expand{% else %}sticky{% endif %}">
      {% if expand_header %}
        <h1 class="brand"><a href="{% url 'home' %}">Colloquium Levensfilosofie</a></h1>
        <h2 class="brand"><span class="orn leaf"></span></h2>
      {% else %}
        <div class="brand"><a href="{% url 'home' %}">Colloquium Levensfilosofie</a> <span class="orn leaf"></div>
      {% endif %}
      <div class="links">
        <a href="{% url 'home' %}" class="menu-link button-link">Intro</a>
        <a href="{% url 'annonce_list' %}" class="menu-link button-link">Archief</a>
        <a href="{% url 'personalia_list' %}" class="menu-link button-link">Leden</a>
      </div>
    </nav>
    <section class="container">
      {% block body %}{% endblock %}
    </section>
    <footer>
      <div class="container">
        <a href="https://www.universiteitleiden.nl/geesteswetenschappen/instituut-voor-wijsbegeerte" class="UL-logo">
          <img src="{% static 'images/UL.svg' %}"/>
        </a>
        <ul>
          <li>Colloquium Levensfilosofie</li>
          <li>Instituut voor Wijsbegeerte</li>
          <li>Universiteit Leiden</li>
        </ul>
      </div>
    </footer>
  </body>
</html>
