<!DOCTYPE html>
<html lang="en" dir="ltr">
  {% load static compress %}
  <head>
    <meta charset="utf-8">
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0'>

    <title>{% block title %}Colloquium Levensfilosofie{% endblock %}</title>

    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ request.scheme }}://{{ request.get_host }}{{ request.path }}">
    <meta property="og:title" content="{% block og_title %}Colloquium Levensfilosofie{% endblock og_title %}">
    <meta name="description" property="og:description" content="{% block og_description %}Het Colloquium Levensfilosofie organiseert extra-curriculaire minisymposia over verschillende filosofisch en maatschappelijk relevante thema’s.{% endblock %}">

    {% with 'favicon/og_image.png' as image_name %}
    <meta property="og:image" content="{{ request.scheme }}://{{ request.get_host }}{% static image_name %}">
    <meta property="og:image:url"  content="{{ request.scheme }}://{{ request.get_host }}{% static image_name %}">
    <meta property="twitter:image" content="{{ request.scheme }}://{{ request.get_host }}{% static image_name %}">
    {% endwith %}

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400;0,700;1,400;1,700&family=Alex+Brush&display=swap" rel="stylesheet">
    {% compress css %}
    <link rel="stylesheet" type="text/x-scss" href="{% static 'scss/index.scss' %}">
    {% endcompress %}
    <script src="https://unpkg.com/scrollreveal"></script>

    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'favicon/site.webmanifest' %}">
    <link rel="mask-icon" href="{% static 'favicon/safari-pinned-tab.svg' %}" color="#214478">
    <link rel="shortcut icon" href="{% static 'favicon/favicon.ico' %}">
    <meta name="apple-mobile-web-app-title" content="Colloquium Levensfilosofie">
    <meta name="application-name" content="Colloquium Levensfilosofie">
    <meta name="msapplication-TileColor" content="#214478">
    <meta name="msapplication-config" content="{% static 'favicon/browserconfig.xml' %}">
    <meta name="theme-color" content="#ffffff">
  </head>

  <body>
    <nav class="navbar sticky">
      <div class="brand{% if hide_logo %} hide{% endif %}" id="logo">
        <a href="{% url 'home' %}">
          <span class="header-1">Colloquium</span>
          <span class="header-2">Levensfilosofie</span>
        </a>
        <span class="header-orn orn leaf">
      </div>
      <div class="links">
        <a href="{% url 'home' %}" class="menu-link button-link">Intro</a>
        <a href="{% url 'annonce_list' %}" class="menu-link button-link">Archief</a>
        <a href="{% url 'member_list' %}" class="menu-link button-link">Leden</a>
      </div>
    </nav>
    {% block pre_body %}{% endblock %}
    <section id="section">
      <div class="container">
        {% block body %}{% endblock %}
      </div>
    </section>
    <footer>
      <div class="container">
        <div>
          <a href="https://www.universiteitleiden.nl/geesteswetenschappen/instituut-voor-wijsbegeerte" class="UL-logo">
            <img src="{% static 'images/UL.svg' %}"/>
          </a>
        </div>
        <div>
          <ul>
            <li>Colloquium Levensfilosofie</li>
            <li>Instituut voor Wijsbegeerte</li>
            <li>Universiteit Leiden</li>
          </ul>
        </div>
        <div>
          <b>Contact</b><br>
          <a href="mailto:info@levensfilosofie.nu">info@levensfilosofie.nu</a>
        </div>
      </div>
    </footer>

    {% block scripts %}{% endblock %}
  </body>
</html>
