# Django
Django==3.2.*
django-compressor==2.*
django-libsass==0.9
django-summernote==0.8.*
django-cloudinary-storage==0.3.*
dj-database-url==0.*

# Django deployment
python-decouple==3.4
gunicorn==20.*
whitenoise==5.*

# Clean HTML
lxml==4.9.*
Markdown==3.*
markdownify==0.*
mdx-linkify==2.*
