body {
  font-family: 'Alegreya', serif;
  font-size: 19px;
  min-height: 100vh;
  margin: 0;
}

.container {
  max-width: 800px;
  margin: 0 auto;
}

a {
  color: $link-color;
  text-decoration: none;
  font-style: italic;
  &:hover {
    color: $link-color-hover;
    text-decoration: underline;
  }
}

.list-unstyled {
  padding-left: 0;
  list-style: none;
}

.button-link {
  text-decoration: none;
  padding: 5px 20px;
  border-radius: 3px;
  &:hover {
    background-color: transparentize($link-color-hover, 0.8);
    text-decoration: none;
  }
}
