section {
  padding: 100px 20px 80px 20px;
  .symposium-preview {
    margin-bottom: 70px;
    &:last-of-type {
      margin-bottom: 0;
    }
  }

  p.intro {
    font-style: italic;
    i, em {
      font-style: normal;
    }
  }
  .personalia {
    font-size: 0.9em;
  }
  table.program {
    td {
      vertical-align: top;
    }
    border-spacing: 20px 10px;
  }

  .button-link {
    background-color: transparentize($link-color, 0.9);
    border: solid 1.5px $border-color;
    &:hover {
      border-color: transparentize($link-color, 0.4);
    }
  }
  .member {
    margin-bottom: 100px;
    &:last-of-type {
      margin-bottom: 0px;
    }
    img {
      float: left;
      border-radius: 80px;
      width: 160px;
      margin-right: 20px;
    }
  }
}
