section {
  padding: 100px 20px 80px 20px;
  .symposium-preview {
    margin-bottom: 70px;
    &:last-of-type {
      margin-bottom: 0;
    }
  }

  p.intro, .personalia {
    font-style: italic;
    i, em {
      font-style: normal;
    }
  }
  .button-link {
    background-color: transparentize($link-color, 0.9);
    border: solid 1px $border-color;
  }
}
