{% extends 'site_base.html' %}
{% load thumbnails %}

{% block title %}Leden | Colloquium Levensfilosofie{% endblock %}

{% block body %}
<section class="prose prose-lg md:prose-xl prose-headings:font-heading prose-h1:my-0 mx-auto">
{% for member in members %}
  <div class="member load-hidden">
    <div class="member-heading">
      {% if member.picture %}
        {{ member.picture|thumbnail }}
      {% endif %}
      <h1>{{ member.name }}</h1>
    </div>
    {{ member.personalia }}
  </div>
{% empty %}
  <i>Geen leden gevonden</i>
{% endfor %}
</section>
{% endblock %}

{% block scripts %}
<script>
  ScrollReveal().reveal('.member', {
    distance: '20px',
    origin: 'bottom',
    opacity: 0,
    interval: 200,
  });
</script>
{% endblock %}
