{% extends 'site_base.html' %}
{% load thumbnails %}

{% block title %}Leden | Colloquium Levensfilosofie{% endblock %}

{% block body %}
<div class="prose md:prose-lg prose-stone prose-headings:font-heading mx-auto md:prose-xl mx-auto prose-headings:mb-0 md:prose-headings:mb-0 prose-h1:text-4xl md:prose-h1:text-5xl">
{% for member in members %}
  <div class="member load-hidden">
    <div class="member-heading">
      {% if member.picture %}
        {{ member.picture|thumbnail }}
      {% endif %}
      <h1>{{ member.name }}</h1>
    </div>
    {{ member.personalia }}
  </div>
{% empty %}
  <i>Geen leden gevonden</i>
{% endfor %}
</div>
{% endblock %}

{% block scripts %}
<script>
  ScrollReveal().reveal('.member', {
    distance: '20px',
    origin: 'bottom',
    opacity: 0,
    interval: 200,
  });
</script>
{% endblock %}
