$aside-theme-color: $theme-camouflage;

aside {
  float: right;
  max-width: 400px;
  background-color: transparentize($aside-theme-color, 0.85);
  border: 1.5px solid $aside-theme-color;
  border-radius: 10px;
  padding: 30px 20px;
  margin: 0 0 15px 50px;

  .header {
    margin-top: 0.3em;
  }

  .agenda-list {
    list-style: none;
    padding: 0;
  }

  .agenda-item.canceled {
    color: transparentize(black, 0.5);
    text-decoration: line-through;
    .agenda-item-header a {
      color: transparentize(black, 0.6);
    }
  }

  .agenda-item-header {
    margin-bottom: 0;
    a {
      text-decoration: none;
      color: black;
      &:hover {
        color: $link-color-hover;
      }
    }
  }
}

@media (max-width: 800px) {
  aside {
    float: none;
    margin: 50px auto;
  }
}
