button {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;

  background: transparent;

  /* inherit font & color from ancestor */
  color: inherit;
  font: inherit;

  /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
  line-height: normal;

  /* Corrects font smoothing for webkit */
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;

  /* Corrects inability to style clickable `input` types in iOS */
  -webkit-appearance: none;
}

/* Remove excess padding and border in Firefox 4+ */
button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

html.sr .load-hidden {
  visibility: hidden;
}

body {
  font-family: $font-family-primary;
  font-size: 18px;
  min-height: 100vh;
  margin: 0;
  line-height: 1.4;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-family-secondary;
  line-height: 1.1em;
}

h1 {
  font-size: 3em;
  margin-bottom: 0.2em;
  @include sm {
    font-size: 2.3em;
  }
}

h2 {
  font-size: 2em;
  margin-bottom: 0;
  @include sm {
    font-size: 2em;
  }
}

h3 {
  font-size: 1.5em;
  @include sm {
    font-size: 1.5em;
  }
}

.container {
  max-width: 800px;
  margin: 0 auto;

  &.large {
    max-width: 1100px;
  }
}

a,
button {
  transition: 0.25s;
  color: $link-color;
  &:hover {
    color: $link-color-hover;
  }
}

.separator {
  font-size: 22px;
  font-weight: normal;
  font-style: italic;
  color: $dark-grey;
  display: flex;
  align-items: center;
  text-align: center;
  &::before,
  &::after {
    content: "";
    flex: 1;
    border-bottom: $border;
  }
  &::before {
    margin-right: 0.25em;
  }
  &::after {
    margin-left: 0.25em;
  }
  &.bottom {
    margin-top: 44.82px;
    margin-bottom: 90px;
  }
}

hr {
  border-width: 1px;
  border-color: $border-color;
}

.list-unstyled {
  padding-left: 0;
  list-style: none;
}

.button-link {
  cursor: pointer;
  text-decoration: none;
  padding: 5px 20px;
  border-radius: 3px;
  transition: 0.25s;
  &:hover {
    background-color: transparentize($link-color-hover, 0.8);
    border-color: $link-color-hover;
    text-decoration: none;
  }
}

.canceled-notice {
  margin-top: 44.82px;
  background-color: $theme-danger-light;
  border: 1.5px solid $theme-danger;
  color: $theme-danger;
  border-radius: 10px;
  padding: 10px 20px;
  h2 {
    font-family: $font-family-primary;
    font-weight: 500;
    font-size: 1.5em;
  }
}
