.landing {
  min-height: 600px;
  height: 100vh;
  background-size: cover;
  background-attachment: scroll;
  background-position: center;
  overflow-x: hidden;
  transform: scaleX(-1);

  z-index: 1;

  display: flex;
  align-items: center;
  flex-direction: column;

  .heading-wrapper {
    transform: scaleX(-1);
    font-size: 100px;
    @include md {
      font-size: 70px;
    }
    width: 95%;
    max-width: 1200px;
    padding-top: 30vh;
    color: $yellow-150;
  }

  .landing-header-1 {
    font-weight: 300;
    font-family: $font-family-primary;
    font-size: 40%;
  }
  .landing-header-2 {
    font-family: "Soria";
  }
  .landing-buttons-wrapper {
    font-size: 25%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  .landing-button {
    color: $yellow-150;
    border: 2px solid $yellow-150;
    &:hover {
      color: $link-color-hover;
      border-color: $link-color-hover;
      background: transparent;
    }
  }

  .chevron-down {
    cursor: pointer;
    position: fixed;
    bottom: 10px;
    opacity: 0.7;
    width: 60px;
    @include sm {
      width: 50px;
    }
    color: white;
    -webkit-animation: 3s ease 0s normal forwards 1 fadein,
      pulse 3s ease-out infinite;
    animation: 3s ease 0s normal forwards 1 fadein, pulse 3s ease-out infinite;
    display: block;
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  66% {
    opacity: 0;
  }
  100% {
    opacity: 0.7;
  }
}

@-webkit-keyframes fadein {
  0% {
    opacity: 0;
  }
  66% {
    opacity: 0;
  }
  100% {
    opacity: 0.7;
  }
}

@keyframes pulse {
  0% {
    transform: none;
  }
  50% {
    transform: scale(0.8);
  }
  100% {
    transform: none;
  }
}

@-webkit-keyframes pulse {
  0% {
    transform: none;
  }
  50% {
    transform: scale(0.8);
  }
  100% {
    transform: none;
  }
}
