section {
  position: relative;
  z-index: 2;
  background: white;
  word-wrap: break-word;

  .container {
    padding: 45px 20px 80px 20px;
  }

  .symposium-preview {
    margin-bottom: 70px;
    &:last-of-type {
      margin-bottom: 0;
    }
  }

  p.intro {
    font-style: italic;
    i,
    em {
      font-style: normal;
    }
  }
  .personalia,
  .additional-info {
    font-size: 0.9em;
  }
  table.program {
    td {
      vertical-align: top;
      padding-left: 20px;
      &:first-of-type {
        padding-left: 0;
      }
    }
  }
  .talk {
    &__speaker {
      margin-top: 130px;
      font-style: italic;
    }
    &__title {
      margin-top: 0px;
    }
  }

  .button-link {
    background-color: transparentize($link-color, 0.9);
    border: solid 1.5px $border-color;
    &:hover {
      border-color: transparentize($link-color, 0.4);
    }
  }
  .member {
    margin-bottom: 100px;
    &:last-of-type {
      margin-bottom: 0px;
    }
    .member-heading {
      display: flex;
      align-items: center;
      .member-name {
        margin-top: 20px;
      }
      img {
        display: block;
        border-radius: 80px;
        width: 158px;
        margin-right: 30px;
        @include md {
          float: left;
        }
      }
    }
  }
}
