@font-face {
  font-family: "Soria";
  src: url("/static/fonts/Soria.ttf") format("truetype");
}

$font-family-secondary: "Soria";
$font-family-primary: "Raleway";

$theme-astral: #398b98;
$theme-sundance: #d0b95a;
$theme-camouflage: #414013;
$theme-shadow-green: #96c5b9;
$theme-copper: #c26d3e;

$theme-limed-spruce: #3d5155;
$theme-bison-hide: #c2c1a9;
$theme-pewter: #92af9e;
$theme-gumbo: #759fa7;
$theme-gumbo-dark: #588791;

$theme-danger: rgb(143, 27, 21);
$theme-danger-light: rgb(246, 201, 206);

$yellow: $theme-sundance;
$yellow-900: #d5c06b;
$yellow-800: #d9c77b;
$yellow-700: #dece8c;
$yellow-600: #e3d59c;
$yellow-500: #e8dcad;
$yellow-400: #ece3bd;
$yellow-300: #f1eace;
$yellow-200: #f6f1de;
$yellow-150: #f8f5e6;
$yellow-100: #faf8ef;
$yellow-50: #fdfcf7;

$light-grey: #f2f2f2;
$medium-grey: #d3d3d3;
$dark-grey: #535d6c;

$header-color: $yellow-100;
$border-color: $medium-grey;
$background-color: $yellow-50;
$default-text-color: $theme-limed-spruce;
$link-color: $theme-gumbo-dark;
$link-color-hover: $theme-gumbo;

$border: solid 2px $border-color;

@mixin sm {
  @media (max-width: 400px) {
    @content;
  }
}

@mixin md {
  @media (max-width: 600px) {
    @content;
  }
}

@mixin lg {
  @media (max-width: 1000px) {
    @content;
  }
}

@mixin sm-height {
  @media (max-height: 350px) {
    @content;
  }
}

@mixin md-height {
  @media (min-height: 350px) {
    @content;
  }
}
