@font-face {
  font-family: "Soria";
  src: url("/static/fonts/Soria.ttf") format("truetype");
}

$font-family-secondary: "Soria";
$font-family-primary: "Raleway";

$theme-astral: #398b98;
$theme-sundance: #d0b95a;
$theme-camouflage: #414013;
$theme-shadow-green: #96c5b9;
$theme-copper: #c26d3e;

$light-grey: #f2f2f2;
$medium-grey: #d3d3d3;
$dark-grey: #535d6c;
$blue: #214478;

$header-color: $light-grey;
$border-color: $medium-grey;
$link-color: $dark-grey;
$link-color-hover: $theme-sundance;

$border: solid 2px $border-color;

@mixin sm {
  @media (max-width: 400px) {
    @content;
  }
}

@mixin md {
  @media (max-width: 600px) {
    @content;
  }
}

@mixin lg {
  @media (max-width: 1000px) {
    @content;
  }
}

@mixin md-height {
  @media (min-height: 350px) {
    @content;
  }
}
