<div class="h-[400px] md:h-[450px] max-h-[50vh] w-full object-cover">
  <picture class="flex w-full h-full">
    <source srcset="{{ photo.urls.raw }}&h=400&fit=crop 1x, {{ photo.urls.raw }}&h=400&fit=crop&dpr=2 2x" media="(max-width: 768px)">
    <source srcset="{{ photo.urls.raw }}&w=1280&fit=crop 1x, {{ photo.urls.raw }}&w=1280&fit=crop&dpr=2 2x" media="(max-width: 1280px)">
    <source srcset="{{ photo.urls.raw }}&w=1536&fit=crop 1x, {{ photo.urls.raw }}&w=1536&fit=crop&dpr=2 2x" media="(min-width: 1280px)">
    <img src="{{ photo.urls.regular }}" alt="{{ photo.user.name }}" class="object-cover w-full h-auto" onload="">
  </picture>
</div>
{% include 'annonces/_unsplash_attribution.html' %}
