{% load summation datetime_tags %}

<ul class="tight-list">
  <li><i>Datum</i>: {{ symposium.date | date:"l j F Y" }}</li>
  {% if symposium.time %}
    <li><i>Tijd</i>: {{ symposium.time }}</li>
  {% endif %}
  {% if symposium.speakers %}
    <li><i>Sprekers</i>:
      {{ symposium.speakers | dutch_summation }}
    </li>
  {% endif %}
  {% if symposium.place %}
    <li><i>Locatie</i>: {{ symposium.place }}</li>
  {% endif %}
  {% if not symposium|is_over %}
    {% if symposium.zoom_link and symposium|is_soon %}
      <li><i>Zoom-link</i>: <a href="{{ symposium.zoom_link }}" target="_blank" rel="noopener noreferrer">{{ symposium.zoom_link }}</a></li>
    {% endif %}
    <li><i>Toegang</i>: {{ symposium.get_entrance_display }}. Aanmelden is niet nodig.</li>
  {% endif %}
</ul>
