<div class="symposium-preview{% if enable_sr %} symposium-sr load-hidden{% endif %}">
  {% if include_separators %}<div class="pb-12 text-lg separator md:text-xl">Annonce</div>{% endif %}
  {% if symposium.canceled and not hide_notice %}{% include 'annonces/_canceled.html' %}{% endif %}
  {% if symposium.photo %}
  <a class="block not-prose" href="{% url 'annonce_detail' symposium.slug %}">
    <picture class="w-full">
      <source srcset="{{ symposium.photo.urls.raw }}&w=400&h=200&fit=crop&q=70 1x, {{ symposium.photo.urls.raw }}&h=400&h=200&fit=crop&dpr=2&q=30 2x" media="(max-width: 700px)">
      <source srcset="{{ symposium.photo.urls.raw }}&w=700&h=350&fit=crop&q=70 1x, {{ symposium.photo.urls.raw }}&w=700&h=350&fit=crop&dpr=2&q=30 2x" media="(min-width: 700px)">
      <img src="{{ symposium.photo.urls.regular }}" class="object-cover w-full aspect-[3/2] sm:aspect-[2/1] rounded-lg mb-12">
    </picture>
  </a>
  {% endif %}
  <a class="no-underline not-prose block mb-4" href="{% url 'annonce_detail' symposium.slug %}">
    <h2 class="font-heading text-5xl">{{ symposium.title }}</h1>
    {% if symposium.subtitle %}<p class="text-xl">{{ symposium.subtitle }}</p>{% endif %}
  </a>
  {% if not symposium.canceled %}
    {% include 'annonces/_practical_details.html' %}
  {% endif %}
  {{ symposium.introduction }}
  <div class="button-wrapper not-prose"><a href="{% url 'annonce_detail' symposium.slug %}" class="button-link">Lees meer</a></div>
  {% if include_separators %}<div class="separator bottom"><i class="orn star"></i></div>{% endif %}
</div>
