{% extends "site_base.html" %}
{% load markdown summation %}

{% block title %}{{ symposium.title }} | Colloquium Levensfilosofie{% endblock %}

{% block body %}
<h2>{{ symposium.title }}</h2>
<ul class="list-unstyled">
  <li><i>Datum</i>: {{ symposium.date | date:"l j F Y" }}</li>
  {% if symposium.time %}
  <li><i>Tijd</i>: {{ symposium.time }}</li>
  {% endif %}
  <li><i>Sprekers</i>:
    {{ symposium.speakers | dutch_summation }}
  </li>
  {% if symposium.place %}
  <li><i>Locatie</i>: {{ symposium.place | render_markdown_line | safe }}</li>
  {% endif %}
</ul>
{{ symposium.introduction | render_markdown | safe }}
{% if program %}
  <table class="program">
    {% for program_item in program %}
    <tr>
      <td>{{ program_item.time }}</td><td>{{ program_item.name | render_markdown_line | safe }}</td>
    </tr>
    {% endfor %}
  </table>
{% endif %}
{% for talk in talks %}
  <div class="talk__speaker">{{ talk.speaker }}</div>
  <h3 class="talk__title">{{ talk.title }}</h3>
  {{ talk.abstract | render_markdown | safe }}
  <div class="personalia">
    {{ talk.personalia | render_markdown | safe }}
  </div>
{% endfor %}
{% endblock %}
