{% extends 'site_base.html' %}
{% load markdown additional_info %}

{% block title %}{{ symposium.title }} | Colloquium Levensfilosofie{% endblock %}

{% block body %}
<h2>{{ symposium.title }}</h2>
{% include 'annonces/_practical_details.html' %}
{% if symposium.zoom_instructions %}
  <div class="additional-info">
    {% render_info 'zoom_instructions' %}
  </div>
{% endif %}
{{ symposium.introduction | render_markdown }}
{% if program %}
  <table class="program">
    {% for program_item in program %}
    <tr>
      <td>{{ program_item.time }}</td><td>{{ program_item.name | render_markdown_line }}</td>
    </tr>
    {% endfor %}
  </table>
{% endif %}
{% for talk in talks %}
  <div class="talk__speaker">{{ talk.speaker }}</div>
  <h3 class="talk__title">{{ talk.title | render_markdown_line }}</h3>
  {% if talk.video_id %}
    {% include 'annonces/_yt_embed.html' with video_id=talk.video_id only %}
  {% endif %}
  {{ talk.abstract | render_markdown }}
  <div class="personalia">
    {{ talk.personalia | render_markdown }}
  </div>
{% endfor %}
{% for vid in symposium.include_vids %}
  <h3>{{ vid.title | render_markdown_line }}</h3>
  {% include 'annonces/_yt_embed.html' with video_id=vid.id only %}
{% endfor %}
{% endblock %}
