{% extends "site_base.html" %}
{% load markdown summation %}

{% block title %}{{ symposium.title }} | Colloquium Levensfilosofie{% endblock %}

{% block body %}
<h2>{{ symposium.title }}</h2>
<ul class="list-unstyled">
  <li><i>Sprekers</i>:
    {{ symposium.speakers | dutch_summation }}
  </li>
  <li><i>Datum</i>: {{ symposium.date | date:"l j F Y" }}</li>
  {% if symposium.time %}
  <li><i>Tijd</i>: {{ symposium.time }}</li>
  {% endif %}
  {% if symposium.place %}
  <li><i>Locatie</i>: {{ symposium.place }}</li>
  {% endif %}
</ul>
{{ symposium.introduction | render_markdown | safe }}
{% if program %}
  <ul class="list-unstyled">
    {% for program_item in program %}
    <li>{{ program_item.time }}: {{ program_item.name }}</li>
    {% endfor %}
  </ul>
{% endif %}
{% for talk in talks %}
  <h3>{{ talk.title }}</h3>
  {{ talk.abstract | render_markdown | safe }}
  <div class="personalia">
    {{ talk.personalia | render_markdown | safe }}
  </div>
{% endfor %}
{% endblock %}
