{% extends 'site_base.html' %}

{% block title %}Annonces | Colloquium Levensfilosofie{% endblock %}

{% block body %}
<section class="prose prose-lg prose-headings:font-heading mx-auto">
{% for symposium in symposia %}
  {% include 'annonces/_symposium_preview.html' with enable_sr=True hide_notice=True %}
  {% if not forloop.last %}
  <div class="separator bottom symposium-sr load-hidden"><i class="orn star"></i></div>
  {% endif %}
{% empty %}
  <i>Geen symposia gevonden</i>
{% endfor %}
</section>
{% endblock %}

{% block scripts %}
<script>
  ScrollReveal().reveal('.symposium-sr', {
    distance: '20px',
    origin: 'bottom',
    opacity: 0,
    interval: 200,
  });
</script>
{% endblock %}
